$primary: #13a1cc;
$grey: #7a8c91;
$grey-light1: #94a2a6;
$grey-light2: #bcc5c8;
$grey-light3: #cdd4d6;
$grey-light4: #ebeeef;
$grey-light5: #f9f9fa;
$white: #f9f9fa;
$body: #364144;

// color palette
$teal-7: #0e9c74;
$red-7: #d86849;